@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Encode+Sans+Expanded&family=Encode+Sans+Semi+Condensed&family=Lato:wght@400;700;900&family=Mulish&family=Source+Code+Pro:ital,wght@0,400;1,300&display=swap');

body{
  font-family: 'Lato', sans-serif;

}
.home-body{
  height: 100vh;
  overflow: hidden;

}
.bg-red{
  background:linear-gradient( rgb(197, 112, 149),  rgba(192, 119, 151, 0.751), rgb(192, 119, 151));
  color: white;
}
.cursor{
  cursor: pointer;
}
.scroll{
  height: 100%;
  overflow: auto;
}
.active{
  color: yellow;
}

.all_home{
  background-image: url(../src/Img/bg4.png);
  background-position: center center;
  background-size: cover;
}